<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../../css/normalize.css" />
  <link rel="stylesheet" href="../../css/skeleton.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="eleven column" style="margin-top: 10%">
        <div class="row">
          <div class="eleven columns"><h2>{{title}}</h2></div>
          <div class="one columns"> <a class="button" href="/">Home</a></div>
        </div>
        <table>
          <thead>
            <tr>	 	
              <th>Author</th>
              <th>Nationality</th>
              <th>Birth Year</th>
              <th>Fields</th>
            </tr>
          </thead>
          <tbody>
            {{#authors}}
              <tr>
                <td><a href="/author/{{id}}"/>{{author}}</a></td>
                <td>{{nationality}}</td>
                <td>{{birth_year}}</td>
                <td>{{field1}} / {{field2}}</td>
              </tr>
            {{/authors}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>