<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../../css/normalize.css" />
  <link rel="stylesheet" href="../../css/skeleton.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="eleven column" style="margin-top: 10%">
        <div class="row">
          <div class="eleven columns"><h2>{{title}}</h2></div>
          <div class="one columns"> <a class="button button-primary" href="/book">Back</a></div>
        </div>
        <form>
          {{#book}}
            <div class="row">
              <div class="six columns">
                <label for="title">Title</label>
                <input class="u-full-width" type="text" readonly id="title" value="{{title}}">
              </div>
              <div class="six columns">
                <label for="edition">Edition</label>
                <input class="u-full-width" type="text" readonly id="edition" value="{{edition}}">
              </div>
            </div>
            <div class="row">
              <div class="six columns">
                <label for="copyright">Copyright</label>
                <input class="u-full-width" type="number" readonly id="copyright" value="{{copyright}}">
              </div>
              <div class="six columns">
                <label for="language">Language</label>
                <input class="u-full-width" type="text" readonly id="language" value="{{language}}">
              </div>
            </div>
            <div class="row">
              <div class="six columns">
                <label for="pages">Pages</label>
                <input class="u-full-width" type="number" readonly id="pages" value="{{pages}}">
              </div>
            </div>
            <div class="row">
              <div class="six columns">
                <label for="author">Author</label>
                <a id="author" href="/author/{{author_id}}"/>{{author}}</a>
              </div>
              <div class="six columns">
                <label for="publisher">Publisher</label>
                <a id="publisher" href="/publisher/{{publisher_id}}"/>{{publisher}}</a>
              </div>
            </div>
          {{/book}}
        </form>
      </div>
    </div>
  </div>
</body>
</html>